name: Deploy Infrastructure

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Deploy Infra via Helm
        run: |
          helm upgrade --install infra ./helm -n aurynto
